@import 'variables'

// Home Page Styling

// Section One
.one 
    .one-container
        margin-top: 3rem
        +fb(stretch,flex-start)
        @media #{$large}
            flex-wrap: wrap
        .one-content, .one-image
            width: 50%
            color: $color4
            @media #{$large}
                margin: 0 auto
                width: 75%
            @media #{$medium}
                width: 90%
        .one-content
            padding: 15rem 13rem
            @media #{$xxlarge}
                padding: 10rem 5rem
            @media #{$large}
                padding: 2rem 0
            img 
                margin-bottom: 1.5rem
                max-width: 60px
                max-height: 60px
            h2 
                margin-bottom: 1.5rem
                font-size: 3rem
            p 
                margin-bottom: 1.5rem
                line-height: 1.75rem
            a 
                color: $color2
                font-weight: 700
                font-size: 1.25rem
                text-transform: lowercase
                letter-spacing: .15rem
        .one-image
            z-index: 5
            position: relative
            @media #{$large}
                height: 50rem
            @media #{$medium}
                height: 30rem
        .one-image:before
            content: ''
            position: absolute
            top: 0
            left: 0
            border-top: 8rem solid white
            border-right: 8rem solid transparent
        .one-image:after 
            content: ''
            position: absolute
            bottom: 0
            left: 0
            border-bottom: 8rem solid white 
            border-right: 8rem solid transparent
// Section Two
.two
    margin-top: -2rem
    position: relative
    @media #{$large}
        margin-top: -3.25rem
    .two-container
        padding: 20rem 0
        position: relative
        background-size: cover
        .two-inner
            z-index: 3
            margin: 0 auto 
            width: 50%
            position: relative
            +fb(center,center)
            @media #{$xlarge}
                width: 75%
            .two-content
                text-align: center
                color: #fff 
                h2 
                    margin-bottom: 3rem
                    font-size: 3rem
                p 
                    font-weight: 300
                    letter-spacing: .1rem
                    line-height: 2rem
                a 
                    color: #fff 
                    font-weight: bold 
                    text-transform: lowercase
                    letter-spacing: .1rem
    .two-before, .two-after
        z-index: 3
        position: absolute
        width: 50%
        height: 8rem
        background: #fff
        @media #{$large}
            width: 80%
        @media #{$medium}
            width: 85%
        .two-before-inner, .two-after-inner
            width: 100%
            height: 100%
            background: #fff  
            position: relative 
        .two-before-inner:before
            content: ''
            position: absolute
            top: 0
            right: 100%
            border-top: 8rem solid #fff 
            border-left: 8rem solid transparent
        .two-after-inner:after
            content: ''
            position: absolute
            bottom: 0
            left: 100%
            border-bottom: 8rem solid #fff 
            border-right: 8rem solid transparent
    .two-before
        top: 0
        right: 0
    .two-after
        bottom: 0
        left: 0
// Section Three
.three
    margin-top: -2rem
    @media #{$large}
        margin-top: -3.25rem
    .three-container
        +fb(stretch,flex-start)
        @media #{$large}
            flex-wrap: wrap
        .three-image, .three-content
            width: 50%
            color: $color4
            @media #{$large}
                margin: 0 auto
                width: 75%
            @media #{$medium}
                width: 90%
        .three-image
            z-index: 5
            position: relative
            @media #{$large}
                height: 50rem
            @media #{$medium}
                height: 30rem 
        .three-image:before
            content: ''
            position: absolute
            top: 0
            right: 0
            border-top: 8rem solid #fff 
            border-left: 8rem solid transparent 
        .three-image:after
            content: ''
            position: absolute
            bottom: 0
            right: 0
            border-bottom: 8rem solid #fff 
            border-left: 8rem solid transparent
        .three-content
            padding: 15rem 13rem
            @media #{$xxlarge}
                padding: 10rem 5rem
            @media #{$large}
                padding: 2rem 0
            img 
                margin-bottom: 1.5rem
                max-width: 60px
                max-height: 60px
            h2 
                margin-bottom: 1.5rem
                font-size: 3rem
            p 
                margin-bottom: 1.5rem
                line-height: 1.75rem
            ul 
                padding: 0 1rem
                line-height: 1.75rem
            a 
                color: $color2
                font-weight: 700
                font-size: 1.25rem
                text-transform: lowercase
                letter-spacing: .15rem
// Section Four
.four
    position: relative
    .four-container
        // z-index: 3
        // position: relative
        padding: 8rem 0
        +fb(center,center)
        flex-direction: column
        color: #fff 
        h2 
            z-index: 3
            margin-bottom: 3rem
            font-size: 3rem
        .four-blog-container
            z-index: 3
            margin: 0 auto
            width: 75%
            +fb(flex-start,flex-start)
            @media #{$xlarge}
                width: 85%
            @media #{$large}
                width: 95%
            @media #{$medium}
                flex-wrap: wrap
            .four-blog-post
                padding: 0 .75rem
                width: 33.3%
                @media #{$medium}
                    margin: 1rem auto
                    width: 85%
                @media #{$small}
                    width: 100%
                img 
                    margin-bottom: 2rem
                    width: 100%
                h3 
                    margin-bottom: 1.5rem
                    text-transform: uppercase
                p 
                    font-weight: 300
                a 
                    color: #fff 
                    font-weight: bold 
                    letter-spacing: .1rem
                    text-transform: lowercase
// Section Five
.five
    .five-container
        padding: 10rem 0
        margin: 0 auto
        width: 75%
        +fb(center,center)
        background-size: contain
        background-position: center
        background-repeat: no-repeat
        color: $color4
        @media #{$xlarge}
            padding: 10rem 1rem
            background-size: cover
            width: 100%
// Section Six
.six 
    background: $color3
    .six-container
        padding: 8rem 0
        margin: 0 auto
        width: 55%
        +fb(center,center)
        flex-direction: column
        color: $color4
        text-align: center
        @media #{$xlarge}
            width: 75%
        @media #{$medium}
            width: 85%
        h2 
            margin-bottom: 1rem
            font-size: 1.5rem
            font-family: $font2
            text-transform: uppercase 